.vscode/**
.vscode-test/**
.gitignore
.git/**
.DS_Store
*.vsix
vsc-extension-quickstart.md
node_modules/**
src/**
*.md
!README.md
*.sh
*.txt
.eslintrc.*
.prettierrc.*
tsconfig.json
webpack.config.js
sample-*
.github/**
